<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nicholas House</title>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <script type="text/javascript" src="../static/js/home.js"></script>
    <link rel="stylesheet" href="../static/css/home.css" type="text/css">
</head>
<body>
<div id="home" class="background">
    <div class="logo">
        <img src="../static/image/logo.png">
        <span>{{ message }}</span>
    </div>
</div>
</body>
</html>
