<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nicholas House</title>
    <script type="text/javascript" src="../static/js/vue.js"></script>
    <!--    <script type="text/javascript" src="../static/js/home.js"></script>-->
    <link rel="stylesheet" href="../static/css/home.css" type="text/css">
</head>
<body>
<div id="home">
    <img src="../static/image/logo.png">
    <div class="hello">
        <h1>{{ message }}</h1>
    </div>
</div>
<script type="text/javascript">
    const home = new Vue({
        el: '#home',
        data: {
            message: 'Welcome to nicholas house'
        }
    });
</script>
</body>
</html>
